.wrapper {
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    background-image: 
        radial-gradient(
        ellipse at top left, 
        #D6E6F9 0%,
        #FBFAF9 30%,
        transparent 30.1%
        ),
        radial-gradient(
        ellipse at bottom right,
        #D6E6F9 0%,
        #FBFAF9 30%   
        );
}

.header {
    max-height: 84px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.008);
    padding: 24px 0;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.02);

    &__container {
        width: 100%;
        max-width: calc(1224px + 15px * 2);
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 15px;
    }

    &__logo {
        max-height: 36px;
        border: 1px solid #ffffff70;
        background-color: rgba(255, 255, 255, 0.50);
        border-radius: 8px;
        padding: 12.5px 18px;
        max-width: 186px;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

        &:hover {
            transform: scale(1.1);
            background-color: rgba(0, 0, 0, 0.053);
        }
    }
}

.main {
    display: flex;
    min-height: calc(100vh - 84px);
    &__container {
        flex-grow: 1;
        min-height: 100%;
        width: 100%;
        max-width: calc(878px + 15px * 2);
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 15px;
    }
}

.notFound {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}