.glass {
    background: rgba(255, 255, 255, 0.15);
    // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.testGlass {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 880px;

    position: relative;

    &__outer {
        position: absolute;
        width: 186px;
        height: 36px;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        padding-bottom: 60px;
    }

    &__inner {
        max-height: 36px;
        border: 1px solid #ffffff70;
        border-radius: 8px;
        padding: 12.5px 18px;
        max-width: 186px;
        display: flex;
        align-items: center;
        gap: 8px;
    }
}